.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
  h1 {
    font-size: 25px;
    margin-left: 25px;
    font-weight: 700;
  }
}

.dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 73px;

  a {
    margin-top: 7px;
    margin-right: 14px;
    font-size: 17px;
    color: #000000d4;
    text-decoration: none;
  }
}
